@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Open+Sans&family=Oswald:wght@400;500;700&display=swap');

body {
  @apply text-base text-black bg-bg-color;
  font-family: 'Golos Text', sans-serif;
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.2 !important;
}

.btn {
  @apply rounded-xl px-10 py-2 font-medium shadow transition duration-300 ease-in-out;

  &:not(&:disabled) {
    @apply hover:shadow-lg
  }

  &.btn-white {
    @apply bg-white text-primary
  }

  &.btn-orange {
    @apply bg-primary text-white
  }

  &.btn-large {
    @apply px-12 py-4 text-xl
  }
}

